body {
  background-color: black;
  padding-left: 20px;
  padding-right: 20px;
}
  
#root {
  color: rgb(5, 0, 0);
}
.episode {
  color: black;
  width: 20%;
  min-width: 350px;
  padding-top: 0px;
  border: 2px solid rgba(0, 4, 5, 0.938);
  border-radius: 10px;
  margin: 10px 10px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  overflow: hidden;
  padding-bottom: 2rem;
}

.episodeContainer {
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  padding-bottom: 2rem;
  justify-content: space-around;
}

.episodeHeader{
display:flex; 
align-items:center; 
justify-content:center;
border: 3px solid rgb(12, 12, 12) ;
border-radius: 10px;
height: 20%;
margin-top: 0px;
text-align: center;
font-size: 25px;
padding: 3px 3px;
}

p{
  padding: 10px 30px;
  text-align: justify;
}